# Entornos virtuales
env/
venv/
.venv/

# Archivos de base de datos (ejemplos)
*.sqlite3
*.db

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de configuración local que no deben compartirse
.env
local_settings.py

# IDEs
.vscode/
.idea/
*.swp
*.swo