{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Restaurante</title>
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
</head>
<body>
    <h1>Bienvenido {{ user.username }}</h1>
    <p>Este es tu panel de administrador de restaurante.</p>

    <ul>
        {% comment %} <li><a href="{% url 'restaurantes:gestionar_restaurante' %}">Gestionar restaurantes</a></li> {% endcomment %}
        <li><a href="{% url 'reservas:api_mis_reservas' %}">Ver reservas recibidas</a></li>
        <button onclick="window.close();" type="button">Ir a la página principal</button>
    </ul>
</body>
</html>
