{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Usuario</title>
    <link rel="stylesheet" href="{% static 'CSS/estilos.css' %}">
</head>
<body>
    <h1>Bienvenido {{ user.username }}</h1>
    <p>Este es tu panel de usuario normal.</p>

    <ul>
        <li><a href="{% url 'reservas:api_mis_reservas' %}">Ver mis reservas</a></li>
        <button onclick="window.close();" type="button">Ir a la página principal</button>
    </ul>
</body>
</html>
