{% block content %}
<h2>Registro exitoso, Bienvenido {{ user.nombre }} !!</h2>

{% if user.foto_perfil %}
    <img src="{{ user.foto_perfil.url }}" alt="Foto de perfil" width="120">
{% else %}
    <div class="avatar" style="background-color:#{{ user.avatar_color }}">
        {{ user.nombre|first|upper }}
    </div>
{% endif %}

<ul>
    <li><b>Correo:</b> {{ user.email }}</li>
    <li><b>Teléfono:</b> {{ user.telefono }}</li>
</ul>

<a href="{% url 'usuarios:profile_edit' %}">Editar perfil</a>
<br>
<button onclick="window.close();" type="button">Ir a la página principal</button>
{% endblock %}