{% load static %}
<header>
    <div class="container_nav">
        <div class="izquierda">
            <div class="name">
                <img src="{% static 'img/logo 2.png' %}" alt="Logo de la página ReservaYa">
            </div>
        </div>
        <div class="derecha">
            <ul class="registro">
                <li class="boton_contacto">
                    <a href="#contacto">Contacto</a>
                </li>
                <li class="boton_contacto">
                    <a href="{% url 'quienes_somos' %}">Quiénes somos</a>
                </li>

                {% if user.is_authenticated %}
                    {% if user.is_authenticated and user.es_restaurante %}
                        <li class="boton_contacto">
                            <a href="{% url 'restaurantes:gestionar_restaurante' %}">Restaurantes</a>
                        </li>
                    {% endif %}
                    
                    <li class="boton_nav">
                        <a href="{% url 'usuarios:logout' %}">Cerrar sesión</a>
                    </li>
                    <li class="boton_nav" id="userSection">
                        <a href="#" class="user-link">
                            <span class="user-name">{{ user.username }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="boton_nav" id="registroItem">
                        <a href="#" class="iniciar_sesion" 
                           onclick="abrirVentanaEmergente('{% url 'usuarios:signup' %}'); return false;"
                           style="width: 100%; height: 100%;">Registrarse</a>
                    </li>
                    <li class="boton_nav" id="loginItem">
                        <a href="#" class="iniciar_sesion" 
                           onclick="abrirVentanaEmergente('{% url 'usuarios:login' %}'); return false;"
                           style="width: 100%; height: 100%;">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="container_prin">
        <div class="mid">
            <h1>ReservaYa</h1>
            <p>Tu app de reservas rápida y confiable</p>
        </div>
    </div>
</header>
